<% content_for :title, "組織情報" %>

<% content_for :menu_setting do %>
  <% @menu = :about %>
<% end %>

<% breadcrumbs = [
     [ "トップページ", root_path ],
     [ "組織情報", nil ],
   ] %>
<%= render "layouts/breadcrumbs", breadcrumbs: breadcrumbs %>

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="row">

      <div class="col-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>組織名</th>
              <td>フジプログラミング研究所</td>
            </tr>
            <tr>
              <th>設立</th>
              <td>2016 年 1 月 28 日</td>
            </tr>
            <tr>
              <th>資本金</th>
              <td>30 万円</td>
            </tr>
            <tr>
              <th>事業内容</th>
              <td>システム開発</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

